body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
}

.app {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
}

input, button {
    padding: 10px;
    margin: 6px;
    border-radius: 8px;
    border: none;
}

button {
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

.product {
    background: #1f2937;
    padding: 12px;
    border-radius: 10px;
    margin: 10px 0;
}